<!DOCTYPE html>
<html>
<head>
  <title>GameLibrary</title>
  <meta name="viewport" content="width=device-width,initial-scale=1">
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.10.0/font/bootstrap-icons.css">
  <%= csrf_meta_tags %>
  <%= csp_meta_tag %>

  <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
  <%= javascript_importmap_tags %>
  
</head>
<body class="bg-light">
  

  <div class="container">
    <% if notice %>
      <div class="alert alert-success"><%= notice %></div>
    <% end %>
    
    <%= yield %>
  </div>
  

</body>
<footer class="bg-dark text-white py-4 mt-5">
  <div class="container">
    <div class="row">
      <div class="col-md-6">
        <h5>GameLib</h5>
        <p>Ваша коллекция видеоигр</p>
      </div>
      <div class="col-md-6 text-end">
        <p class="mb-0">© <%= Time.current.year %> Все права защищены</p>
      </div>
    </div>
  </div>
</footer>
</html>