<!DOCTYPE html>
<html>
<head>
  <title>GameLibrary</title>
  <meta name="viewport" content="width=device-width,initial-scale=1">
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.10.0/font/bootstrap-icons.css">
  <%= csrf_meta_tags %>
  <%= csp_meta_tag %>

  <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
  <%= javascript_importmap_tags %>
  <nav class="navbar navbar-expand-lg navbar-dark bg-dark mb-4 shadow">
  <div class="container">
    <%= link_to "🎮 GameLib", root_path, class: "navbar-brand fw-bold" %>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNav">
      <ul class="navbar-nav me-auto">
        <li class="nav-item">
          <%= link_to "Все игры", games_path, class: "nav-link" %>
        </li>
        <li class="nav-item">
          <%= link_to "Добавить игру", new_game_path, class: "nav-link" %>
        </li>
      </ul>
      <form class="d-flex">
        <input class="form-control me-2" type="search" placeholder="Поиск игр...">
        <button class="btn btn-outline-light" type="submit">Найти</button>
      </form>
    </div>
  </div>
</nav>
</head>
<body class="bg-light">
  <nav class="navbar navbar-expand-lg navbar-dark bg-dark mb-4">
    <div class="container">
      <%= link_to "Game Library", root_path, class: "navbar-brand" %>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarNav">
        <ul class="navbar-nav">
          <li class="nav-item">
            <%= link_to "Games", games_path, class: "nav-link" %>
          </li>
          <li class="nav-item">
            <%= link_to "Add New Game", new_game_path, class: "nav-link" %>
          </li>
        </ul>
      </div>
    </div>
  </nav>

  <div class="container">
    <% if notice %>
      <div class="alert alert-success"><%= notice %></div>
    <% end %>
    
    <%= yield %>
  </div>
  

</body>
<footer class="bg-dark text-white py-4 mt-5">
  <div class="container">
    <div class="row">
      <div class="col-md-6">
        <h5>GameLib</h5>
        <p>Ваша коллекция видеоигр</p>
      </div>
      <div class="col-md-6 text-end">
        <p class="mb-0">© <%= Time.current.year %> Все права защищены</p>
      </div>
    </div>
  </div>
</footer>
</html>